<div class="w-50 mx-auto my-5">
    <form (ngSubmit)="handelRegister(registerForm)" [formGroup]="registerForm">
        <h2>Register Now:</h2>
        
        <p *ngIf="apiErrorMassage" class="alert alert-danger text-center">{{apiErrorMassage}}</p>
        
        <label  for="name">name:</label>
        <input class="form-control" formControlName="name" id="name" type="text">
        <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
            <p *ngIf="registerForm.get('name')?.getError('required')" class="my-0">name is required</p>
            <p *ngIf="registerForm.get('name')?.getError('minlength')" class="my-0">name is minimum length is 3</p>
            <p *ngIf="registerForm.get('name')?.getError('maxlength')" class="my-0">name is max length is 20</p>
        </div>
        
        <label class="mt-3"  for="email">email:</label>
        <input class="form-control" formControlName="email" id="email" type="email">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
            <p *ngIf="registerForm.get('email')?.getError('required')" class="my-0">email is required</p>
            <p *ngIf="registerForm.get('email')?.getError('email')" class="my-0">please enter a valid email</p>
        </div>
        
        <label class="mt-3"  for="password">password:</label>
        <input class="form-control" formControlName="password" id="password" type="password">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
            <p *ngIf="registerForm.get('password')?.getError('required')" class="my-0">password is required</p>
            <p *ngIf="registerForm.get('password')?.getError('pattern')" class="my-0">password start with uppercase followed by at 5 character</p>
        </div>
        
        <label class="mt-3"  for="rePassword">rePassword:</label>
        <input class="form-control" formControlName="rePassword" id="rePassword" type="Password">
        <div *ngIf="registerForm.get('rePassword')?.invalid && registerForm.get('rePassword')?.touched" class="text-danger">
            <p *ngIf="registerForm.get('rePassword')?.getError('required')" class="my-0">rePassword is required</p>
            <p *ngIf="registerForm.get('rePassword')?.getError('pattern')" class="my-0">rePassword is minimum length is 3</p>
        </div>
        <p *ngIf="registerForm.getError('passwordMisMatch') && registerForm.get('password')?.dirty && registerForm.get('rePassword')?.dirty" class="text-danger">password doesn't match confirm rePassword</p>
        
        <label class="mt-3"  for="phone">phone:</label>
        <input class="form-control" formControlName="phone" id="phone" type="tel">
        <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched" class="text-danger">
            <p *ngIf="registerForm.get('phone')?.getError('required')" class="my-0">phone is required</p>
            <p *ngIf="registerForm.get('phone')?.getError('pattern')" class="my-0">please enter a valid egyption phone number</p>
        </div>

        <button [disabled]="registerForm.invalid ||isLoading" class="btn bg-main text-light my-3">
            <span *ngIf="!isLoading">Register</span>
            <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span>
        </button>
    </form>
</div>