<div class="product p-4 shadow-lg">
        <a [routerLink]="['/product', product._id]" >
        <img class="w-100 rounded" [src]="product.imageCover" [alt]="product.title">
        <span class="font-sm text-main fw-bold ">{{product.category.name}}</span>
        <p class="fw-bold mt-3">{{product.title|titleSlice:2}}</p>
        <div class="d-flex justify-content-between">
            <span class="fw-bold font-sm">{{product.price|addEgp}}</span>
            <div>
                <i class="fa-solid fa-star rating-color"></i>
                <span>{{product.ratingsAverage}}</span>
            </div>
        </div>
        </a>
        <div class="d-flex justify-content-between align-items-center">
            <button (click)="addToCart(product._id)" class="btn bg-main text-white w-75 mt-3"> +Add </button>
            <button (click)="addToWishList(product._id)" [class]="isWishlistProduct(product._id)?'fas text-danger':'fas fa-regular' " class="btn btn-link"><i class="fas fa-heart fa-2x mt-3"></i></button>
        </div>
    </div>
    <app-shared-spinner *ngIf="isLoading"></app-shared-spinner>